{% extends 'base.html' %}

{% block title %}
<h2>Electronic list</h2>
{% endblock %}

{% block content %}
{% if electronic_list %}
<div class="row">
    {% for electronic in electronic_list %}
    <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'reviews:electronic_detail' electronic.id %}">
        {{ electronic.name }}
        </a></h4>
        <h5>{{ electronic.review_set.count }} reviews</h5>
        <h5>{{ electronic.average_rating | floatformat }} average rating</h5>
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No electronics are available.</p>
{% endif %}
{% endblock %}
